body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #111214;
    margin: 0;
}

.title, #countdown {
    font-family: Avenir, sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
}

@media screen
    and (min-width: 768px)
    and (max-width: 1023px) {
        .title, #countdown {
            font-size: 1.8em;
        }
}

@media screen and (max-width: 767px) {
    .title, #countdown {
        font-size: 1.5em;
    }
}