* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#image, #video {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: no-repeat center center fixed;
	background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media screen and (max-width: 767px) {
    #image, #video {
        width: 100vw;
        height: auto;
    }
}