* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

.colorWrapper {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}

.title, .color {
    font-family: Avenir, sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 0 0.7em 1em 0.7em;
}

.color {
    font-size: 1em;
    margin-bottom: 3em;
}