@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.header {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerProgressBar {
    width: 100vw;
    height: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 4em;
    background-color: #fff;
}

#progressBar {
    width: 0%;
    height: 10px;
    background-color: #333;
}

.mainContent {
    width: 80%;
}

h1, p {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    text-decoration: underline;
    text-align: center;
}

p {
    font-size: 1.5em;
}

.mainContent:last-child {
    margin-bottom: 4em;
}

img {
    width: 100%;
    border: 0.5em solid #333;
    margin: 3em 0;
    padding: 0.3em;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 1.2em;
    }
}