* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111214;
}

button {
    font-family: Avenir, sans-serif;
    font-size: 2em;
    color: #eee;
    background-color: inherit;
    border: 0.1em solid #eee;
    outline: none;
    padding: 0.3em;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.25em #eee;
}

.map {
    width: 100vw;
    height: 100vh;
    border: none;
}