body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 37.5em;
    height: 37.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #3D405B;
    border-radius: 2em;
}

#title {
    font-family: Avenir, sans-serif;
    font-size: 2em;
    color: #fff;
}

#form {
    display: flex;
    flex-flow: column nowrap;
}

form > * {
    font-family: Avenir, sans-serif;
    font-size: 0.8em;
    color: #fff;
    background-color: #3D405B;
    margin: 0.5em;
}

.input {
    border: 0.1em solid #fff;
    border-radius: 0.7em;
}

#button:hover {
    cursor: pointer;
    background-color: #35395c;
}

#vaildationMessage {
    display: none;
    color: #E07A5F;
}

#successMessage {
    font-family: Avenir, sans-serif;
    font-size: 1.5em;
    color: #fff;
    display: none;
}

/* media query smartphone */
@media screen and (max-width: 767px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: #222;
    }

    #container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: #222;
    }

    form > * {
        background-color: #222;
    }

    #successMessage {
        font-size: 1em;
    }
}