* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #111214;
    box-sizing: border-box;
}

#title {
    font-family: Avenir, sans-serif;
    font-size: 2em;
    color: #fff;
    margin-bottom: 1em;
}

#form {
    display: flex;
    flex-flow: column nowrap;
}

form > * {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: inherit;
    border: none;
    border-radius: 0;
    margin-bottom: 1em;
    padding: 0.4em;
    outline: none;
}

.input {
    border-bottom: 0.2em solid #fff;
}

#vaildationMessage {
    display: none;
    color: #E07A5F;
    text-align: center;
}

#textarea {
    border: 0.1em solid #fff;
}

#button {
    border: 0.1em solid #fff
}

#button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em #fff;
}

#successMessage {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    color: #fff;
    display: none;
}