* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    box-sizing: border-box;
    background-color: #0D1321;
}

h1, label, input {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    color: #F0EBD8;
    text-align: center;
}

h1 {
    margin: 4em 1em;
}

label {
    margin: 0.8em 1em;
}

input {
    height: 2em;
    background-color: #1D2D44;
    border: 0.125em solid #F0EBD8;
    border-radius: 0.2em;
    margin-bottom: 2em;
    outline: none;
}