@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    text-align: center;
    margin: 1em 0;
}

span {
    font-size: 0.7em;
    font-style: italic;
}

img {
    border: 0.3em solid black;
    padding: 0.2em;
}

#date {
    font-size: 1.5em;
    margin: 1em 0 2em 0;
}

@media (max-width: 767px) {
    p {
        font-size: 1.3em;
    }

    span {
        font-size: 0.6em;
    }

    img {
        width: 70%;
        margin-top: 2em;
    }
}