* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #111214;
}

h1, p {
    font-family: Avenir, sans-serif;
    color: #eee;
    margin: 1em 1em;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}