@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: #358395; 
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
    background: #265f6b; 
}

::-webkit-scrollbar-corner {
    background: none;
}

body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #232323;
    scrollbar-color: light;
}

#userInput, #binary {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #FED766;   
}

#userInput {
    background-color: #358395;
    border: none;
    border-radius: 0.2em;
    margin: 2em;
    padding: 0.5em;
    outline: none;
}

#binary {
    width: 80%;
    line-height: 2;
    word-wrap: break-word;
    margin: 2em;
    overflow: scroll;
}

@media screen and (max-width: 767px) {
    #userInput {
        width: 90%;
        margin-top: 3em;
    }
    
    #userInput, #binary {
        font-size: 1.2em;
    }
}