* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 196, 105);
}

#wrapper {
    position: relative;
    width: 60%;
    height: 40%;
}

#image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10%;
    right: 5%;
    bottom: 10%;
    left: 5%;
    overflow: hidden;
}

.overlap {
    position: absolute;
    top: 0;
    bottom: 0;
}

#rightOverlap {
    right: 0;
    left: 70%;
    background-image: linear-gradient(to left, rgba(245, 196, 105, 1), rgba(245, 196, 105, 0));
}

#leftOverlap {
    left: 0;
    right: 70%;
    background-image: linear-gradient(to right, rgba(245, 196, 105, 1), rgba(245, 196, 105, 0));
}

img {
    position: absolute;
    height: auto;
    width: 1500px;
    animation: moveImage 12s linear infinite;
    z-index: -1;
}

@keyframes moveImage {
    0% {left: 100%;}
    100% {left: -1500px;}
}

@media screen and (max-width: 767px) {
    #wrapper {
        width: 100%;
    }

    #rightOverlap {
        left: 80%;
    }

    #leftOverlap {
        right: 80%;
    }
}